<div class="banner">
	<!-- <p> Libreo mission statement</p> -->
    <!-- <img src="logo.png"> -->
    <h1 id="main-text-header">Follow Your Curiosity</h1>

    <div class="sub-text">
        <h4 id="sub-font">Libreo curates introductions to a wide selection of topics to encourage life-long learning.</h4>
    </div>

    <!-- <a class="waves-effect waves-light btn">Get Started</a> -->
</div>

<div class="container">
    <div class="row">
        <div class="col-xs-12 text-center" id="top-bar">
             
        </div>
   </div>

    <div class = "row">
        <div class="col-sm-2">
            <div class="collection" id="index-topic-div">
                
                <h3 id="index-subject-title">Subjects</h3>
                <div>
                {{#each subject}}
                <p class="subject-cloud">
                 <a href="/subject/{{this.id}}" > {{this.subject_name}} </a>
                 </p>
                {{/each}}
                </div>
                <!-- {{tech.dataValues.subject_name}}
                {{biz}} -->
            </div>
            
        </div>

        <!-- {{#each subject}}
            <a href="/subject" class="collection-item">{{this.subject_name}}</a>
        {{/each}} -->
    </div>
</div>



