<div class="banner">
	<p> Libreo mission statement</p>
</div>

<div class="container">
    <div class="row">
        <div class="col-xs-12 text-center" id="top-bar">
            
        </div>
   </div>

    <div class = "row">
        <div class="col-sm-2">
            <div class="collection" id="">
                {{#each subject}}
                    <p>{{this.id}}</p>

                    <p>name: {{this.subject_name}} </p>
                {{/each}}

                {{log "what the heck"}}
                {{#each subject}}
                  {{@key}}: {{Technology}}
                {{/each}}
            </div>
            
        </div>

        {{#each subject}}
            <a href="/subject" class="collection-item">{{this.subject_name}}</a>
        {{/each}}
    </div>
</div>



