
<main>
	<div class="banner2">
		<h1 class="subject-header">
			{{#each topic}}
				{{this.topic_name}}
			{{/each}}
		</h1>
	</div>
	<nav id="breadcrumbs">
		    <div class="nav-wrapper">
		      <div class="col s12">
	
		        <a href="/" 
		        class="breadcrumb">
		        	{{#each topic}}
						{{this.dataValues.field_name}}
					{{/each}}
		        </a>
		        
		        <a href="" class="breadcrumb">
					{{#each topic}}
						{{this.dataValues.subject_name}}</h1>
					{{/each}}
		        </a>

		        <a href="" class="breadcrumb">
					{{#each topic}}
						{{this.topic_name}}</h1>
					{{/each}}
		        </a>
		      </div>
		    </div>
		</nav>
<div class="container">
	<div class="row">
		<div class="col-xs-12" id="top-bar">
		<h4 class="text-left">{{#each topic}}
				{{this.dataValues.decription}}</h1>
			{{/each}}
		</h4>

		<ul>
		  	{{#each links}}  
		      <div class="topic-description"> {{this.decription}}</div>
		      <!-- <p><b>ID: {{this.dataValues.id}}</b></p> -->
		      <div class="link-cloud">
		      <p class="linktype"><b>{{this.dataValues.type}}</b></p>
		      	<p class="linktitle"> {{this.dataValues.title}}</p>
			    <a href="{{this.dataValues.url}}" target="_blank">{{this.dataValues.url}} </a>
		      <!-- <p>Link: {{this.Links}}</p>
		      <p>{{this.Topics.TopicId}}</p> -->
			  </div> 
			  <br> 
		  	{{/each}}
		</ul>

			{{#each links}}
		  			
			    
		  	{{/each}}

		<div class="col-xs-12 text-center" id="top-bar">
		</div>
	</div>
</div>
</main>

















