
<main>
	<div class="banner2">
		<h1>
			{{#each topic}}
				{{this.topic_name}}
			{{/each}}
		</h1>
	</div>
	<nav id="breadcrumbs">
		    <div class="nav-wrapper">
		      <div class="col s12">
	
		        <a href="/" 
		        class="breadcrumb">
		        	{{#each topic}}
						{{this.field_name}}
					{{/each}}
		        </a>
		        
		        <a href="" class="breadcrumb">
					{{#each topic}}
						{{this.subject_name}}</h1>
					{{/each}}
		        </a>

		        <a href="" class="breadcrumb">
					{{#each topic}}
						{{this.topic_name}}</h1>
					{{/each}}
		        </a>
		      </div>
		    </div>
		</nav>
<div class="container">
	<div class="row">
		<div class="col-xs-12 text-center" id="top-bar">
		

		<ul>
		  	{{#each topic}}
			    <li>
			      <p>ID: {{this.id}}</p>
			      <p>Name: {{this.topic_name}}</p>
			      <p>description: {{this.decription}}</p>
			      <p> Link: {{this.Links}}</p>
			      <p> {{this.Topics.TopicId}} </p>
			    </li>
		  	{{/each}}
		</ul>

			{{#each Links}}
		  			{{links}}
			    <p>Type: {{this.type}}</p>
			    <p>Title: {{Topic.title}}<p>    
			    <p>Title: {{this.title}}</p>
			    <a>Url: {{this.url}} </a>
		  	{{/each}}

		<div class="col-xs-12 text-center" id="top-bar">
		</div>
	</div>
</div>
</main>












